.search-bar {
    margin-bottom: 30px;
    width: 100%;
}

.playerOptionImage {
    height: 32px;
}

.playerOptionName {
    margin-left: 20px;
    font-size: 15px;
}

.playerOption {
    display: flex;
    align-items: center;
}